<!--The content below is only a placeholder and can be replaced.-->
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Challenge</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">

    <div style="text-align:center">
      <img width="300" alt="Angular Logo" src="https://camo.githubusercontent.com/6af7093b0dfb9644929d31783314093134fe41d0/68747470733a2f2f6432716363746a3865706e7237792e636c6f756466726f6e742e6e65742f696d616765732f6d617276696e706f67692f6c6f676f2d636f64656368616c6c656e67652e706e67">
    </div>
    <p class="lead">Enter an array of number separated by comma, then click on submit. You will get the min and max numbers processed by
      a custom API in Java.</p>
    <div class="container">
      <div class="row">
        <div class="col">
          <input type="text" placeholder="Enter numbers" [(ngModel)]='inputNumbers' class="form-control">
        </div>
        <div class="col">
          <input type="submit" value="submit" (click)="getMinMax()" class="btn btn-success">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Min Number: {{min}}</p>
          <p>Max Number: {{max}}</p>
        </div>
      </div>
    </div>


  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for
        <a href="https://getbootstrap.com/">Bootstrap</a>, by Marcos.
      </p>
    </div>
  </footer>
</div>
